<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>title</title>
</head>
<body>
	<main id="main" class="master">
		<header id="header"></header>
		
		<div id="container">
			<?php echo $body; ?>
		</div>

		<footer id="footer"></footer>
	</main>
</body>
</html>